<!doctype html>
%html
  %head
    %title David Sidlinger
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.6.0/build/reset-fonts/reset-fonts.css&amp;2.6.0/build/base/base-min.css">
    <link rel="stylesheet" type="text/css" href="site.css" />
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://davidsidlinger.myopenid.com/">
  %body
    #content
      #hcard-David-Sidlinger.vcard
        %p.big
          %a{:class => "url fn", :href => "http://davidsidlinger.com"} David Sidlinger
          is a programmer in Nashville, Tennessee.
        %p.big
          You should follow  
          %a.url{:href => "http://twitter.com/davidsidlinger"} me
          on Twitter.
        %p.big
          %a.email{:href => "mailto:public@davidsidlinger.com"} Email
        %p.big
          %a.url{:href => "xmpp:public@davidsidlinger.com"} Jabber
      %p.big Here are some of the places you can find me online:
      %ul#linkme.big
        %li
          %a{:href => "http://blog.davidsidlinger.com/"} Blog
        %li
          %a{:href => "http://sweet.likebearmeat.com/"} Sweet Like Bear Meat
          , my activity stream
        %li
          %a{:href => "http://delicious.com/davidsidlinger"} Links
        %li
          %a{:href => "http://davidsidlinger.wordpress.com/"} The old blog
          %p.commentary I migrated my posts over to a free Wordpress blog. No Markdown support rendered them pretty ugly, though.
        %li
          %a{:href => "http://flickr.com/photos/anothercodemonkey/"} Pictures
        %li
          %a{:href => "http://github.com/davidsidlinger"} github
        %li
          %a{:href => "http://bitbucket.org/davidsidlinger/"} bitbucket